/* .ideal-grade-badge {
    --sds-c-badge-color-background: rgb(156, 241, 144);
}

.recommended-grade-badge {
    --sds-c-badge-color-background: rgb(114, 180, 237);
}

.slot-row {
    background-color: white;
} */